/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    margin-top: 80px;
  }

  main {
    padding:5px;
    background-color: #ffffff;
  }

  section {
    padding: 20px;
  }

  
  .aviso {
font-size: 10px;
text-transform: uppercase;
color: #f9f9f7;
background-color: #0a0a0a;
padding: 3% 0 0.5% 2%;
z-index: 10; 
background-color: #292929;
box-shadow: 0 0 3px 3px #1a1a1a;
  }

  .aviso i{
    color: #ffcc00;
  }

  
  .inicial {
    height:500px;
    background-image: url(/assets/img/inicialcartel.jpg);
    background-size:contain;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    border-style: solid;
    border-color: #fffcfc;
    border-radius: 9px;
    border-width: 1px;
    padding: 1rem;
    /* background-color: white; */

  }

  .descripcionhotel {
    text-align: left;
    text-justify: auto;
    width: 600px;
    height: 360px;
    margin: 15px;
    margin-left:45%;
    margin-top: 3%;
    padding: 25px;
    background-color: #ffffffd6;  
    border-style: inset;
    border-radius: 5%;
    box-shadow: 2px 3px rgb(32, 32, 32);
  }
#imageninicial{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  border-style: inset;
  box-shadow: 2px 3px rgb(32, 32, 32);
}

#texto01 {
/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
color: #3b3a3a;
/* text-transform: uppercase; */
font-size: 18px;
padding: 15px 5px 12px 25px;
}

.mapadiv {
  background-image: url(/assets/img/map.gif);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
    height: 360px;
}

/* 
#areamapa {
  margin-top: 12px;
  height: 360px;
  background-image: url(/assets/img/map.gif);
} */

#mapaimagen{
  margin-top: 20px;
  /* padding: 10px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
}

#cartelgaleria {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

.gallery-img {
  height: 220px;
  width: 290px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: visible; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 120px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
} */

.navbar {
  top: 0;
  right: 0;
  left: 0;
  background-color: #020202;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 10; 
  background-color: #1a1a1a;
  box-shadow: 0 0 3px 3px #1a1a1a;
  /* top: -100px; Hide the navbar initially */
  /* transition: top 0.1s; Add a smooth transition */
}

.navbar.active {
  top: 0; /* Show the navbar when scrolled down */
}

/* .navbar-logo {
  font-size: 24px;
} */

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #ffcc00;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.toggle-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

h2 {
  margin-bottom: 10px;
}

.room {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.room:hover {
  transform: scale(1.05);
}

.room img {
  max-width: 100%;
  height: auto;
}

.room-info {
  display: none;
}



footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}


